<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签</title>
</head>
<body>
<ul>
    {% for book in list %}
        {% if book.id <= 2 %}
            <li style="background-color: red;">{{ book.btitle }}</li>
        {% elif book.id <= 3 %}
            <li style="background-color: blue;">{{ book.btitle }}</li>
        {% else %}
            <li style="background-color: green;">{{ book.btitle }}</li>
        {% endif %}
    {% empty %}
        <li>对不起，没有图书</li>
    {% endfor %}
</ul>
</body>
</html>